<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="adress" class="cn.com.csii.spring1.Adress">
              <property name="city" value="beijing"></property>
              <property name="road" value="tiananmen"></property>
              <property name="houseNumber" value="101"></property>
       </bean>
       <bean id="car" class="cn.com.csii.spring1.Car">
              <constructor-arg name="color" value="yellow"></constructor-arg>
              <constructor-arg name="name" value="Audi"></constructor-arg>
              <constructor-arg name="price" value="300000"></constructor-arg>
       </bean>
       <bean id="car2" class="cn.com.csii.spring1.Car">
              <constructor-arg index="0" value="BMW"></constructor-arg>
              <constructor-arg index="1" value="500000"></constructor-arg>
              <constructor-arg index="2" value="blue"></constructor-arg>
       </bean>
       <bean id="car3" class="cn.com.csii.spring1.Car">
              <constructor-arg type="java.lang.String" value="BYD"></constructor-arg>
              <constructor-arg type="java.lang.Integer" value="40000"></constructor-arg>
              <constructor-arg type="java.lang.String" value="black"></constructor-arg>
       </bean>
</beans>